@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
  background: linear-gradient(to right,#1a2a6c, #b21f1f, #fdbb2d);
  font-family: 'Dancing Script', cursive;
}

.heading{
 color:white;
 font-style: italic;
 font-size: 4rem;
  
}

.heading-2{
  color: #151048;
  font-size: 3rem;
  font-weight: bold ;
  font-style: italic;
}